@using ManejoDePresupuestos.ViewModelPartials
@model NavegacionPorAñosViewModel

<div class="mb-3 d-flex justify-content-between">
    <div class="d-flex align-items-center gap-2">
        <a asp-action="@Model?.Accion" asp-route-año="@Model?.AñoAnterior" class="btn btn-secondary"><i class="bi bi-chevron-left"></i></a>
        <div style="width: 100px" class="text-center">
            <strong> Año @Model?.FechaReferencia.Year</strong>
        </div>
        <a asp-action="@Model?.Accion" asp-route-año="@Model?.AñoPosterior" class="btn btn-secondary"><i class="bi bi-chevron-right"></i></a>
    </div>
</div>