
@using ManejoDePresupuestos.ViewModelPartials
@model NavegacionPorMesesViewModel

<div class="mb-3 d-flex justify-content-between">
    <div class="d-flex align-items-center gap-2">
        <a asp-action="@Model?.Accion" asp-route-mes="@Model?.MesAnterior" asp-route-año="@Model?.AñoAnterior" asp-route-cuentaId="@Model?.Parametro" class="btn btn-secondary"><i class="bi bi-chevron-left"></i></a>
        <div style="width: 100px" class="text-center">
            <strong>@Model?.FechaReferencia.ToString("MMM").ToUpper() - @Model?.FechaReferencia.Year</strong>
        </div>
        <a asp-action="@Model?.Accion" asp-route-mes="@Model?.MesPosterior" 
        asp-route-año="@Model?.AñoPosterior" asp-route-cuentaId="@Model?.Parametro" class="btn btn-secondary"><i class="bi bi-chevron-right"></i></a>
    </div>
</div>