@using ManejoDePresupuestos.Enums
@using ManejoDePresupuestos.ViewModelPartials
@model TransaccionesPorCuentaViewModel
@{
    ViewData["Title"] = "Transacciones";
}

<h5>Transacciones</h5>

<partial name="_SubMenu" model="SubMenuTransacciones.Diario" />

<partial name="_BalanceTotales" model="@Model.Totales"/>

<partial name="_NavegacionFechas" model="@Model.Navegacion"/>

<a asp-action="Agregar" asp-route-urlRetorno="@Model.UrlRetorno" class="btn btn-primary">
    Nueva transacción
</a>

<partial name="_ReporteTransacciones" model="Model"></partial>