@using ManejoDePresupuestos.ViewModelPartials
@model TransaccionesPorCuentaViewModel
@{
    ViewData["Title"] = "Reporte Transacciones";
}


<h4 class="mb-3">
    Cuenta: @ViewBag.Cuenta
</h4>

<partial name="_BalanceTotales" model="@Model.Totales" />

<partial name="_NavegacionFechas" model="@Model.Navegacion"/>

<a asp-action="Agregar" asp-route-urlRetorno="@Model.UrlRetorno" class="btn btn-primary">
    Nueva transacción
</a>

<hr />

<partial name="_ReporteTransacciones" model="Model"></partial>



